# Node modules
node_modules/

# Diretório de saída do TypeScript
dist/
frontend/assets/js/

# Arquivos temporários do TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.*.local

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Cache
.cache/
